<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Unicore-Prototyp1">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="Unicore-Prototyp1"/>
        <property name="java-output-path" value="/Unicore-Prototyp1/build/classes"/>
    </wb-module>
</project-modules>
